body {
    width: 100%;
    height: 100%;
    background-color: #061839;
    z-index: 999999
}
.amap-logo{
    display: none;
}
.amap-copyright {
    opacity:0;
}
.Modal-warp {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: inherit;
    padding: 0px 0px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

}

#clearid {
    position: fixed;
    pointer-events: auto;
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 999;
    cursor: pointer;
    right: 10px;
    top: 8px;
    color: white;

}

.Modal-left {
    flex: 1;


}

.line {
    border-left: 2px solid #31FFFE;
    height: 20px;
    position: relative;
}
.Modal-right-tabs{
    position:absolute;
    background: red;
    top: 100px;
    left: 20px;
    z-index: 99999;
}
*{text-decoration:none!important; /* 定义所有链接不显示下划线 */}
/* ------------------- start 针对 Opera, Firefox 的 CSS 弹出菜单 -------------------*/
.pmVerticalRightOut{background-color:#fff!important; /* 定义主菜单域背景色 */}
.pmVerticalRightOut .level{   /* 定义一级类别属性 */
    width:120px; /* 宽度 */
    height:30px; /* 高度 */
    line-height: 30px;
    text-align: center;
    font-size: 14px;

    position:relative; /* 显示位置为相对位置 */
    display:block; /* 以块模式显示 */
    background-color:#D8D8D8; /* 背景色 */
    padding:0px 2px; /* 文字内补丁间隔 */
    margin:0px 0px 1px 0px; /* 菜单外补丁间隔 */
}
.pmVerticalRightOut .level:hover { /* 当鼠标划过一级菜单时 */
    background-color:#6633FF; /* 背景色 */
    color:#FFFFFF; /* 文字颜色 */
}
.pmVerticalRightOut .level_{display:none; /* 默认隐藏二级类别 */}

.pmVerticalRightOut .level:hover .level_ { /* 鼠标划过时触发显示二级类别 */
    display:block; /* 以块显示 */
    left:124px; /* 相对于一级类别显示的位置 */
    width:120px; /* 宽度 */
    height:auto; /* 高度 */
    top:0px; /* 相对于一级类别所在位置的顶端 */
    background-color:#EFEFEF; /* 定义背景色 */
    position:absolute; /* 位置为绝对位置 */
}
.pmVerticalRightOut .level:hover .level_ .level_title {
    /* 定义二级类别标题样式 */
    font-weight:bold; /* 字体加粗 */
    background-color:#A7ADFE; /* 背景色 */
    color:white; /* 文字颜色 */
}
.pmVerticalRightOut .level:hover .level_ a:hover {
    /* 定义二级类别链接显示样式 */
    background-color:#F83658; /* 背景色 */
    color:white; /* 文字颜色 */
}
.pmVerticalRightOut .level:hover .level_ * {
    /* 定义所有二级类别通用属性 */
    display:block; /* 以块显示 */
    color:black; /* 文字颜色 */
    padding:0px 2px; /* 内补丁间隔 */
}
/* ------------------- end 针对 Opera, Firefox 的 CSS 弹出菜单 -------------------*/

/* ------------------- start 针对 IE 的 CSS 弹出菜单 -------------------*/
.levelIe{   /* 定义一级类别属性 */
    width:120px; /* 宽度 */
    position:relative; /* 显示位置为相对位置 */
    display:block; /* 以块模式显示 */
    background-color:#D8D8D8; /* 背景色 */
    padding:0px 2px; /* 文字内补丁间隔 */
    margin:0px 0px 1px 0px; /* 菜单外补丁间隔 */
}
.levelIe .level_ { /* 鼠标划过时触发显示二级类别 */
    display:block; /* 以块显示 */
    left:124px; /* 相对于一级类别显示的位置 */
    width:120px; /* 宽度 */
    height:auto; /* 高度 */
    top:0px; /* 相对于一级类别所在位置的顶端 */
    background-color:#EFEFEF; /* 定义背景色 */
    position:absolute; /* 位置为绝对位置 */
}
.levelIe .level_ .level_title {
    /* 定义二级类别标题样式 */
    font-weight:bold; /* 字体加粗 */
    background-color:#A7ADFE; /* 背景色 */
    color:white; /* 文字颜色 */
}
.levelIe .level_ a:hover {
    /* 定义二级类别链接显示样式 */
    background-color:#F83658; /* 背景色 */
    color:white; /* 文字颜色 */
}
.levelIe .level_ * {
    /* 定义所有二级类别通用属性 */
    display:block; /* 以块显示 */
    color:black; /* 文字颜色 */
    padding:0px 2px; /* 内补丁间隔 */
}

.line:after {
    content: "";
    position: absolute;
    border-left: 2px solid #31FFFE;
    height: 10px;
    top: -4px;
    transform: rotate(45deg);

}

.line:before {
    content: "";
    position: absolute;
    border-left: 2px solid #31FFFE;
    height: 8px;
    bottom: -4px;
    transform: rotate(-45deg);

}

.line1 {
    border-left: 2px solid #31FFFE;
    height: 20px;
    position: relative;
}

.line1:after {
    content: "";
    position: absolute;
    border-left: 2px solid #31FFFE;
    height: 8px;
    top: -4px;
    right: 2px;

    transform: rotate(-45deg);

}

.line1:before {
    content: "";
    position: absolute;
    border-left: 2px solid #31FFFE;
    height: 8px;
    bottom: -4px;

    right: 2px;

    transform: rotate(45deg);

}
.Modal-left-header{
    font-size: 35px;
    color: #1fe0e9;
    font-weight: 500;
    padding: 10px;
    text-align: center;
}

.Modal-left-item {

}
/*.Modal-left-item:nth-child(2) {*/
/*    margin-bottom: 150px;*/
/*}*/

.Modal-left-item .header {
    margin: 10px 0px;

    display: flex;
    justify-content: left;
    align-items: center;
}

.Modal-left-item .header span {
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
    margin: 0px 20px;
}

.work-older {
    display: flex;

}

.work-older-item {
    flex: 1;
}

.work-older-item:nth-child(2n) {
    margin: 0px 20px;
}

.work-older-header {
    width: inherit;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 4px 4px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: 微软雅黑;
}

.work-older-header button {
    list-style-type: none;
    border-radius: 4px;
    border: 2px solid #59647A;
    padding: 4px 10px;
    background-color: inherit;
    color: #01DFD2;
    font-size: 16px;
    border: 0px;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-focus-ring-color: rgba(0, 0, 0, 0);
    border-top: 2px solid #1DD3DE;
    box-shadow: inset 0px 0px 5px 8px #107E9A;
    margin: 0px 10px;
}

.work-older-list {
    background-color: #082443;
    /*background: -webkit-linear-gradient(left top, #08292D, #050C0F); !*for safari5.1-6.0*!*/
    /*background: -o-linear-gradient(bottom right, #08292D, #050C0F); !*Opera 11.1-12.0*!*/
    /*background: -moz-linear-gradient(bottom right, #08292D, #050C0F); !*firefox 3.6-15*!*/
    /*background: linear-gradient(to bottom right, #08292D, #050C0F); !*标准语法*!*/
    /*border: 2px solid #09587d;*/
    /*box-shadow: inset 0px 0px 5px 5px rgba(28, 70, 105, 0.6);*/
}

.work-older-list-ul {
    display: flex;
    text-align: center;

}

.work-older-list-ul li {
    flex: 1;
    margin: 10px 0px;
    color: #00FFF0;
    font-size: 12px;
}

.ul-line {
    flex: 1;
    border-top: 1px solid #116F75;

}

.ul-line li {
    color: white !important;
    font-size: 12px;

}


.Satisfaction-warp {
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: space-between;
    /*margin-right: 30px;*/

}

.Satisfaction-warp-item {
    /*width: 575px;*/
    /*height: 298px;*/
flex: 1;
    box-sizing: border-box;
}

.Satisfaction-warp-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-right: 24px;
}

/*.Satisfaction-warp-item:nth-child(2n) {*/
/*    !*margin-left: 20px;*!*/
/*}*/

/*.Satisfaction-warp-item:nth-child(2n+1) {*/
/*    !*margin-right: 20px;*!*/
/*}*/

.Satisfaction-warp-item-header-left {
    display: flex;
}

.banner1 {
    width: 117px;
    height: 25px;
    background-image: url(../Modal/images/banner.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    line-height: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 12px;
    color: #000000;
}

.banner2 {
    width: 117px;
    height: 25px;
    background-image: url(../Modal/images/banner2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    font-weight: 500;
    line-height: 25px;
    font-size: 12px;
    letter-spacing: 1px;
}

.Satisfaction-warp-item-echarts {
    width: inherit;
    height: 255px;
    /*border: 1px solid white;*/
    background-image: url(../Modal/images/12345icon.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*box-sizing: border-box;*/
    /*    border-image-source: url(../Modal/images/12345icon.png);*/
    /*    border-image-slice: 200 300 400 200;*/
    /*// border-image-outset:200 300 400 200;*/
    /*    border-image-width: 200px 300px 400px 200px;*/

}
.Workorder{
    width: inherit;
    padding: 40px 20px 30px 20px;

}

#SmallECharts4 {
    top: -20px
}


.Modal-right {
    flex: 1;
    /*background-color: yellow;*/
}

.FX_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li {
    list-style: none;
}

#dropdown {
    font-size: 16px;
    z-index: 99999;
    text-align: center;
}#dropdown1 {
    font-size: 16px;
    z-index: 99999
}#dropdown2 {
    font-size: 16px;
    z-index: 99999
}

#dropdown p {
    width: 80px;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
    padding-right: 30px;
    border: 1px solid #a9c9e2;
    /*background: inherit url('V') no-repeat right 4px;*/
    color: #ffffff;
    cursor: pointer
}#dropdown1 p {
    width: 80px;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
    padding-right: 30px;
    border: 1px solid #a9c9e2;
    /*background: inherit url('V') no-repeat right 4px;*/
    color: #ffffff;
    cursor: pointer
}#dropdown2 p {
    width: 80px;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
    padding-right: 30px;
    border: 1px solid #a9c9e2;
    /*background: inherit url('V') no-repeat right 4px;*/
    color: #ffffff;
    cursor: pointer
}

#dropdown ul {
    width: 119px;
    background-color: #061839;;
    margin-top: 2px;
    border: 2px solid #50657D;
    position: absolute;
    display: none
}#dropdown1 ul {
    width: 119px;
    background-color: #061839;;
    margin-top: 2px;
    border: 2px solid #50657D;
    position: absolute;
    display: none
}#dropdown2 ul {
    width: 119px;
    background-color: #061839;;
    margin-top: 2px;
    border: 2px solid #50657D;
    position: absolute;
    display: none
}

#dropdown ul li {
    height: 24px;
    line-height: 24px;
    text-indent: 10px
}#dropdown1 ul li {
    height: 24px;
    line-height: 24px;
    text-indent: 10px
}#dropdown2 ul li {
    height: 24px;
    line-height: 24px;
    text-indent: 10px
}

#dropdown ul li a {
    display: block;
    height: 24px;
    color: #ffffff;
    text-decoration: none
}#dropdown1 ul li a {
    display: block;
    height: 24px;
    color: #ffffff;
    text-decoration: none
}#dropdown2 ul li a {
    display: block;
    height: 24px;
    color: #ffffff;
    text-decoration: none
}

#dropdown ul li a:hover {
    background: #c6dbfc;
    color: #ffffff
}#dropdown1 ul li a:hover {
    background: #c6dbfc;
    color: #ffffff
}#dropdown2 ul li a:hover {
    background: #c6dbfc;
    color: #ffffff
}


/*!*垃圾分类i*!*/
.GarBage-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.GarBage-between {
    /*display: flex;*/
    /*justify-content: space-between;*/
}

.flex-item-1 {
    flex: 1;
}

.item-right {
    margin-left: 10px;
}

.item-left {
    margin-right: 10px;
}

.banner-span {
    opacity: 0.7;
    background-color: rgba(15, 58, 125, 0.7);
    fontFamily: "SimHei";
    color: #1fe0e9;
    padding: 4px 12px 6px 12px;
    font-size: 15px;
    /*font-size:10px;-webkit-transform:scale(0.7);*/
    border-left: 3px solid #1fe0e9;
    display: inline-block;
}

.GarBage-child-item {
    width: 33.3%;
    display: flex;
    align-items: center;


}

.GarBage-child-item img {
    width: 20px;
    height: 20px;
}

.GarBage-child-item div {

    margin: 0px 10px;
    width: 100%;
    display: flex;
    font-size: 12px;
    color: white;
    display: flex;
    padding: 4px 0px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #50637c;

}

.GarBage-child-item div span {

    font-Family: PingFangSC-Semibold;
    font-weight: 500;
    color: #29c399;
    font-size: 12px;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
}
.GarBage-child-item div p {
    font-size: 12px;
    /*transform: scale(0.9);*/
    /*-webkit-transform: scale(0.9);*/
}

.GarBage-child-1 {
    display: flex;
    margin-top: 4px;
    flex-wrap: wrap;
}

.Municipal-level {
    margin: 24px 0px 40px 0px;
    display: flex;
    justify-content: space-between;
    position: relative;

}

.Municipal-level-Model {
    position: absolute;
    display: none;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    padding: 30px 20px 20px 20px;
    animation: 0.6s;
    -webkit-animation: zoom 0.6s;
}

.clears {
    position: absolute;
    font-weight: bold;
    top: 31px;
    right: 23px;
    font-size: 20px;
    color: #1fe0e9;
}

.Municipal-level-warp {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #082442;
   // border: 2px solid red;
    padding: 10px 20px;
}

.Municipal-level-warp-header {
    /*border:2px solid pink; */
    width: 100%;
    height: 100%;
}

.Municipal-level-warp-header ul {
    display: flex;
    color: #1fe0e9;

    padding-left: 8px;
    border-bottom: 1px dashed #0a3f6c;
}
.Municipal-level-warp-header ul:first-child {
    font-weight: bold;
}
.Municipal-level-warp-header ul:last-child {
    border: 0px;
}

.Municipal-level-warp-header ul li {
    flex: 1;
    padding: 12px 0px 9px 0px;
}

.Municipal-level-warp-header ul li:nth-child(3) {

    min-width: 140px;
}

.Municipal-level-warp-header ul li:nth-child(4) {

    min-width: 80px;
}


.Municipal-level div {
    flex: 1;
    display: inline-block;
    display: flex;
    justify-content: left;
    align-items: center;
}

.Municipal-level div img {
    width: 30px;
    height: 30px;
}

.Municipal-level div li {
    margin-left: 10px;
    font-size: 14px;
    color: white;
}

.Municipal-level div li p:nth-child(2) {
    color: #1fe0e9;
}

.GarBage-child-end {
    width: 50%;
    margin: 10px 0px;
}

.Modal-right-title {
    position: absolute;
    top: 30px;
    left: 20px;
    /*left: 52%;*/
    /*display: inline-block;*/
    /*position: fixed;*/
    /*top: 30px;*/
    /*left: 52%;*/

    background-color: rgba(15, 58, 125, 0.7);
    fontFamily: "SimHei";
    color: #1fe0e9;
    padding: 4px 12px 6px 12px;
    font-size: 30px;
    z-index: 999;
    /*font-size:10px;-webkit-transform:scale(0.7);*/

}

.topicWrap {
    margin-top: 5px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.topicItem {
    width: 48%;
    border-bottom: 1px solid #50637c;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    padding: 4px 0px;
    color: white;
}

.topicItem span {
    color: #1fe0e9;
}

.topicItem:nth-child(2n) {
    margin-left: 2%
}

.topicItem:nth-child(2n+1) {
    margin-right: 2%
}

.topicItemBtn {
    width:auto;
    box-sizing: border-box;
    display: flex;
    margin: 4px 0px;
    padding: 4px 4px;
    color: white;
    border-radius: 2px;
    width: 48%;


    background-color: rgba(31, 224, 233, 0.2);
    border: 1px solid rgba(31, 224, 233, 0.5);
}

.font-10 {

    /*transform: scale(0.8);*/
    /*font-size: 10px;*/
    /*-webkit-transform: scale(0.7);*/
    font-size: 12px;
}

.ModalBox {
    position: fixed;
    display: none;
    z-index: 9999;
    margin: auto;
    top: 6rem;
    left: 34.6rem;
    width: 130.8rem;
    height: 48.3rem;
    animation: 0.6s;
    -webkit-animation: zoom 0.6s;
    /*box-shadow: 10px 10px 10px red;*/
    /*-moz-box-shadow: 110px 10px 10px red;*/
    /*-webkit-box-shadow: 10px 10px 10px red;*/
}

.ModalBox:before, .ModalBox:after {
    /*影子 主要用了伪类*/
    position: absolute;
    width: 35%;
    height: 10px;
    content: ' '; /*空内容*/
    left: 12px;
    bottom: 19px;
    background: rgba(0, 0, 0, 0);
    -webkit-transform: skew(-5deg) rotate(-4deg);
    -moz-transform: skew(-5deg) rotate(-4deg);
    -ms-transform: skew(-5deg) rotate(-4deg);
    -o-transform: skew(-5deg) rotate(-5deg);
    transform: skew(-5deg) rotate(-4deg);
    -webkit-box-shadow: 6px 18px 12px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 6px 18px 12px rgba(0, 0, 0, 0.6);
    box-shadow: 6px 18px 12px rgba(0, 0, 0, 0.6);
    z-index: -1;
    max-width: 300px; /* 最大宽度*/
}

.ModalBox:after {
    left: auto; /*重新来个这段的目的 利用CSS优先级创建 右侧阴影，这段肯定是在 .boxshadow:before,.boxshadow:after 这段之后的~~*/
    right: 12px;
    -webkit-transform: skew(5deg) rotate(4deg);
    -moz-transform: skew(5deg) rotate(4deg);
    -ms-transform: skew(5deg) rotate(4deg);
    -o-transform: skew(5deg) rotate(4deg);
    transform: skew(5deg) rotate(4deg);
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}
.vehicle{
position: relative;
}
.vehicle-Modal{
    display: none;
position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    padding: 32px 4px 20px 0px;
    animation: 0.6s;
    -webkit-animation: zoom 0.6s;
}.vehicle-Modal-warp{

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #082443;
    padding: 10px 2px 0px 2px;

}
 .vehicle-Modal-warp .clears{
     top: 36px;
     right: 12px;
 }
 .vehicle-Modal-warp-header{
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 4px;
 }
 .vehicle-Modal-warp-time{
     color: white;
     display: flex;
 }
 .vehicle-Modal-room{
     width: 100%;
     height: 100%;
     /*background-color: red;*/
     position: relative;
     padding: 2px;
     box-sizing: border-box;
     color: white;
 }.vehicle-Modal-room-div{
    background-image: url(../Modal/images/smallborder.png);
    padding-top: 3px;
    padding-left: 8px;
    padding-right: 0px;
   }
 .vehicle-Modal-room span{
     color: #1fe0e9;
     font-weight: bold;
 }



/*光点*/
.spark {
    position: absolute;
    width: 20px;
    height: 20px;
    /*background-image: radial-gradient(red, green, blue);*/
    top: 107px;
    left: 20px;
    background-color: white;
    -webkit-animation-name: spark;
    -webkit-transform-origin: 50% 100%;
    -webkit-animation-duration: 8s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
}
/*动画*/
@-webkit-keyframes spark {
    0% {
        left: 6px;
        transform: rotate(0deg)
    }

    35% {
        left: 112px;
        transform: rotate(0deg)
    }

    50% {
        left: 112px;
        transform: rotate(180deg)
    }

    85% {
        left: 6px;
        transform: rotate(180deg)
    }

    100% {
        transform: rotate(360deg)
    }
}