@font-face {
    font-family: 'SFUDinEngschrift';
    src: url('../fonts/SFUDinEngschrift.TTF');
}

@font-face {
    font-family: 'SourceHanSansCN';
    src: url('../fonts/SourceHanSansCN-Medium.ttf');
}

/* @font-face {
    font-family: 'heiti';
    src: url('../fonts/heiti.ttf');
} */

html {
    overflow: hidden;
    background-image: -webkit-gradient(linear, 100% 0, 0 0, from(#001A54), color-stop(0.57, #010825), to(#000421));
    background-image: -webkit-linear-gradient(180deg, #001A54 0%, #010825 57%, #000421 100%);
    background-image: -moz-linear-gradient(180deg, #001A54 0%, #010825 57%, #000421 100%);
    background-image: -o-linear-gradient(180deg, #001A54 0%, #010825 57%, #000421 100%);
    background-image: linear-gradient(180deg, #001A54 0%, #010825 57%, #000421 100%);
    font-family: 'SourceHanSansCN';
}

.num-font {
    font-family: 'SFUDinEngschrift';
}

.header {
    position: relative;
}

.header > img {
    width: 100%;
    display: block;
}

.header .main-box {
    position: absolute;
    width: 39%;
    bottom: 24%;
    height: 55%;
}

.header .left-box {
    left: 0;
}

.header .left-box-2 {
    left: 20%;
}

.header .left-box-2 .text-title {
    /* font-family: "heiti"; */
    font-size: 2.2rem;
    color: #fff;
    letter-spacing: 1.8rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.header .right-box {
    right: 0;
}

.header .right-box-2 {
    left: 65%;
}

.header .right-box-2 .text-title {
    /* font-family: "heiti"; */
    font-size: 2.2rem;
    color: #fff;
    letter-spacing: 1.8rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.main-warp .main-box {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    /*height:51rem;*/
    margin-left: 0.3%;
}

.header .main-box > div {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    line-height: 3.9rem;
    margin-right: 0.5rem;
}

.header .main-box .weather-icon,
.header .main-box .early-warning-icon {
    /*width: 3.9rem;*/
    height: 3.9rem;
    margin-left: 1.4rem;
    overflow: hidden;
}

.header .main-box .weather-text {
    font-size: 1.6rem;
    color: #fff;
}

.header .main-box .num-font {
    font-size: 2.3rem;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFC96F 100%);
    -webkit-background-clip: text;
    color: transparent;
    line-height: 3.3rem;
}

.header .left-box .early-warning-icon {
    margin-left: 0;
}

.header .left-box .early-warning-text {
    font-size: 1.2rem;
    color: #fff;
}

.header .right-box .num-font {
    line-height: 4.7rem;
    font-size: 2.7rem;
}

.header .right-box .date-box {
    margin-right: 2.2rem;
    margin-left: 1rem;
}

.header .right-box .date-box p {
    text-align: right;
    color: #fff;
}

.header .right-box .date-box p:nth-child(1) {
    font-size: 1.1rem;
    line-height: 1rem;
    margin-top: 1rem;
}

.header .right-box .date-box p:nth-child(2) {
    font-size: 1.5rem;
    line-height: 1.9rem;
}

.main-warp .main-box-big {
    width: 32.3%;
}

.newsListP {
    display: none;
    position: absolute;
    top: 2rem;
    left: calc(50% - 10rem);
    z-index: 9999;
    background: #082058;
    text-align: center;
    border-radius: 1rem;
    color: white;
    padding: .3rem .6rem;
    width: 20rem;
    margin: auto;
    -webkit-animation-name: fadeIn; /*动画名称*/
    -webkit-animation-duration: 3s; /*动画持续时间*/
    -webkit-animation-iteration-count: 1; /*动画次数*/
    -webkit-animation-delay: 0s; /*延迟时间*/
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0; /*初始状态 透明度为0*/
    }
    50% {
        opacity: 0; /*中间状态 透明度为0*/
    }
    100% {
        opacity: 1; /*结尾状态 透明度为1*/
    }
}

.main-warp .main-box-min {
    width: 16.1%;
}

.main-title {
    width: 100%;
    padding-bottom: 0.2rem;
    position: relative;
    z-index: 10;
}

.title-border {
    height: 1rem;
    border-left: 3px solid #00D9FF;
    border-right: 3px solid #00D9FF;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.main-title .title-bg {
    height: 1rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #226CD2;
    opacity: 0.28;
}

.main-title .title-bg1,
.main-title .title-bg2 {
    width: 100%;
}

.main-title .title-bg2 {
    width: 81.7%;
}

.main-title .title-bg3 {
    width: 63.4%;
    opacity: 0.41;
}

.main-title h3 {
    font-size: 1.68rem;
    line-height: 3rem;
    color: #fff;
    position: relative;
    z-index: 2;
    text-align: center;
    letter-spacing: 5px;
}

.main-warp .main-box .content-bg {
    height: calc(100% - 2rem);
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.2;
    background-image: linear-gradient(180deg, #3E76CC 0%, #1D419D 100%);
    box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.50);
}

.main-warp .main-box .video-box {
    height: 68.5%;
    position: relative;
}

.main-warp .main-box .special-box {
    height: 31.5%;
    position: relative;
}

.main-warp .main-box .map-box {
    margin-top: 1.1rem;
    border: 3px solid #164695;
    height: calc(100% - 1rem - 6px);
}

.main-warp .main-box .content-box {
    height: calc(100% - 3rem);
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

/*隐藏地图loge*/
.amap-logo {
    opacity: 0;
}

.amap-copyright {
    opacity: 0;
}

.amap-marker-label {
    border: 0;
    background-color: transparent;
    color: #9CA09D;
    font-size: large;
}

.info {
    position: relative;
    top: 0;
    right: 0;
    min-width: 0;

}

.ModalBox {
    position: fixed;
    display: none;
    z-index: 9999;
    margin: auto;
    top: 5.85rem;
    left: 34.6rem;
    width: 130.8rem;
    height: 48.3rem;
    animation: 0.6s;
    -webkit-animation: zoom 1s;
    /*box-shadow: 10px 10px 10px red;*/
    /*-moz-box-shadow: 110px 10px 10px red;*/
    /*-webkit-box-shadow: 10px 10px 10px red;*/
    box-shadow: -10px 10px 20px 10px rgba(255, 255, 255, 0.2), 10px 10px 10px 10px rgba(255, 255, 255, 0.5)
}

.Child_ModalBox {
    position: fixed;
    display: none;
    z-index: 9999;
    margin: auto;
    top: 6.21rem;
    left: 34.6rem;
    width: 65.4rem;
    height: 48.2rem;
    animation: 0.6s;
    -webkit-animation: zoom 2s;
    /*box-shadow: 10px 10px 10px red;*/
    /*-moz-box-shadow: 110px 10px 10px red;*/
    /*-webkit-box-shadow: 10px 10px 10px red;*/
}

.ModalBox:before, .ModalBox:after {
    /*影子 主要用了伪类*/
    position: absolute;
    width: 35%;
    height: 10px;
    content: ' '; /*空内容*/
    left: 12px;
    bottom: 19px;
    background: rgba(0, 0, 0, 0);
    -webkit-transform: skew(-5deg) rotate(-4deg);
    -moz-transform: skew(-5deg) rotate(-4deg);
    -ms-transform: skew(-5deg) rotate(-4deg);
    -o-transform: skew(-5deg) rotate(-5deg);
    transform: skew(-5deg) rotate(-4deg);
    -webkit-box-shadow: 6px 18px 12px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 6px 18px 12px rgba(0, 0, 0, 0.6);
    box-shadow: 6px 18px 12px rgba(0, 0, 0, 0.6);
    z-index: -1;
    max-width: 300px; /* 最大宽度*/
}

.Child_ModalBox :before, .Child_ModalBox :after {
    /*影子 主要用了伪类*/
    position: absolute;
    width: 35%;
    height: 10px;
    content: ' '; /*空内容*/
    left: 12px;
    bottom: 19px;
    background: rgba(0, 0, 0, 0);
    -webkit-transform: skew(-5deg) rotate(-4deg);
    -moz-transform: skew(-5deg) rotate(-4deg);
    -ms-transform: skew(-5deg) rotate(-4deg);
    -o-transform: skew(-5deg) rotate(-5deg);
    transform: skew(-5deg) rotate(-4deg);
    -webkit-box-shadow: 6px 18px 12px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 6px 18px 12px rgba(0, 0, 0, 0.6);
    box-shadow: 6px 18px 12px rgba(0, 0, 0, 0.6);
    z-index: -1;
    max-width: 300px; /* 最大宽度*/
}

.ModalBox:after {
    left: auto; /*重新来个这段的目的 利用CSS优先级创建 右侧阴影，这段肯定是在 .boxshadow:before,.boxshadow:after 这段之后的~~*/
    right: 12px;
    -webkit-transform: skew(5deg) rotate(4deg);
    -moz-transform: skew(5deg) rotate(4deg);
    -ms-transform: skew(5deg) rotate(4deg);
    -o-transform: skew(5deg) rotate(4deg);
    transform: skew(5deg) rotate(4deg);
}

.Child_ModalBox :after {
    left: auto; /*重新来个这段的目的 利用CSS优先级创建 右侧阴影，这段肯定是在 .boxshadow:before,.boxshadow:after 这段之后的~~*/
    right: 12px;
    -webkit-transform: skew(5deg) rotate(4deg);
    -moz-transform: skew(5deg) rotate(4deg);
    -ms-transform: skew(5deg) rotate(4deg);
    -o-transform: skew(5deg) rotate(4deg);
    transform: skew(5deg) rotate(4deg);
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


.card {
    margin-left: 5rem;
}

.card-front, .card-back {
    position: absolute;
    /* width: 100%;
    height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    transition: 0.9s cubic-bezier(0.25, 0.8, 0.25, 1);
    backface-visibility: hidden;
    overflow: hidden;
}

.card-front:before, .card-front:after, .card-back:before, .card-back:after {
    position: absolute;
}

.card-front:after {
    color: #212f3c;
}

.card-back {
    /* background: linear-gradient(-45deg, #101010, #2c3e50); */
    transform: rotateX(-180deg);
}

.card-back:after {
    color: #11181f;
}

.card-flipped .card-front {
    transform: rotateX(-180deg);
}

.card-flipped .card-back {
    transform: rotateX(0deg);
}

.amap-scale-edgeleft, .amap-scale-middle, .amap-scale-edgeright {
    background-color: #fff !important;
}

.amap-scale-text {
    color: #fff !important;
}

  
  /* 地图弹框 */
  .content-window-card {
    position: relative;
    box-shadow: none;
    bottom: 0;
    left: 0;
    width: auto;
    padding: 0;
    color: #fff;
    background-color:#14212D;
  }
  
  .content-window-card p {
    height: 2rem;
  }
  
  .custom-info {
    border: solid 1px #CCC;
  }
  
  div.info-top {
    position: relative;
    /* background: none repeat scroll 0 0 #F9F9F9; */
    border-bottom: 1px solid #CCC;
    border-radius: 5px 5px 0 0;
  }
  
  div.info-top div {
    display: inline-block;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    line-height: 31px;
    padding: 0 10px;
  }
  
  div.info-top img {
    position: absolute;
    top: 5px;
    right: 5px;
    transition-duration: 0.25s;
    width:20px;
    height:20px;
  }
  
  div.info-top img:hover {
    box-shadow: 0px 0px 5px #000;
  }
  
  div.info-middle {
    font-size: 12px;
    padding: 10px 6px;
    line-height: 20px;
  }
  
  div.info-bottom {
    height: 0px;
    width: 20px;
    clear: both;
    text-align: center;
    /* width:20px;
    height:20px; */
  }
  
  div.info-bottom img {
    position: relative;
    z-index: 104;
  }
  
  /* .info-top span {
    margin-left: 5px;
  } */
  
  .info-middle img {
    float: left;
    margin-right: 6px;
  }