.rest-www{
	position: absolute;
  background-color: #1D2B56;
  top: 0;
  left: 0;
 /* width: 200rem;
  height: 56.25rem;*/
    width: 100%;
 height: 100%;
  z-index: 11199;
}
.httpShow-close {
    position: absolute;
  float: right;
  height: 2rem;
  width: 2rem;
    top:1rem;
    right: 1rem;
  text-align: center;
	line-height: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #fff;
}
.rest-box{
	position: absolute;
  background-color: #1D2B56;
  top: 5.1rem;
  left: 34.6rem;
  width: 130.8rem;
  height: 49.35rem;
  z-index: 199;
}
.rest-box-big{
  position: absolute;
  width: 97%;
  height: 95%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.rest-box-left{
  width: 50%;
  height: 100%;
  /* background-color: pink; */
}
 .top-title1{
  font-size: 1rem;
  position:absolute;
  right: 13%;
  top:50%;
 transform: translate(-50%, -50%);
 color: #fff;
}
 .top-img1{
  width: 8rem;
  height: 2.35rem;
  margin-top: 0.68rem;
}
 .top-title2{
  font-size: 1rem;
  position:absolute;
  top:50%;
  right: 0;
 transform: translate(-50%, -50%);
 color: #fff;
}
.top-title3{
  font-size: 1rem;
  position:absolute;
  left: 4.5%;
  top: 15%;
 transform: translate(-50%, -50%);
 color: #fff;
}
.top-title4{
  font-size: 1rem;
  position:absolute;
  top:15%;
  left: 11%;;
 transform: translate(-50%, -50%);
 color: #fff;
}
 .top-img2{
  width: 6rem;
  height: 2rem;
  margin-top: 0.98rem;
}
.rest-top-box,.rest-foot-box,.rest-foot-box2{
  margin-bottom: 1rem;
}
.rest-info-lists {
  width: 35%;
  text-align: left !important;
  padding-left: 1rem;
}
.rest-info-lists2 {
  width: 25%;
  text-align: left !important;
  padding-left: 1rem;
  background-color: pink;
}
.info-box{
  padding: 0.4rem;
  background: rgba(80, 227, 194, 0.2);
  border: 1px solid #50BAE3;
  flex-direction: column;
  color: #fff;
  position: relative;
}
.info-active {
  background-color: #21f9ff;
}
.info-box .bottom-text * {
  display: inline-block;
}
.info-box::after {
  content: '.';
  font-size: 0;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border-top: 0.5rem solid #54FEFA;
  border-right: 0.5rem solid transparent;
  color: #54FEFA;
}
.rest-infos {
  display: inline-block;
  position: relative;
  text-align: center;
  padding-right: 0.3rem;
  padding-bottom: 0.3rem;
  margin: 0.3rem 0.9rem;
}
.rest-border-right {
  width: 2px;
  height: calc(100% - 0.6rem);
}
.rest-border-bottom {
  width: calc(100% - 0.6rem);
  height: 2px;
}
.rest-border-box {
  position: absolute;
  bottom: 0;
  background-color: #50BAE3;
  right: 0;
}
/* .vital-signs ul li {
  width: 146px;
} */


.convenient-box{
	position: absolute;
  background-color: #1D2B56;
  top: 5.9rem;
  left: 34.6rem;
  width: 130.8rem;
  height: 49.35rem;
  z-index: 11;
  /* background: url(../images/imgs/bg-img.png) no-repeat; */
}

.fade-transition {
    transition:all 0.1s;
    opacity: 1;
    background:rgba(240,20,20,0.5)
}
  
.fade-enter,.fade-leave {
   opacity:0;
    background:rgba(240,20,20,0)
}
   
.rest-box{
  /* animation: go 1s ease 0s 1 ;  // 声明动画 */
  animation: zoom 0.6s;
  -webkit-animation: zoom 0.6s;
  box-shadow: -10px 10px 20px 10px rgba(255,255,255,0.2), 10px 10px 10px 10px rgba(255,255,255,0.5) 
}
/*定义动画*/
/* @keyframes go {
  from {  
      transform: translateX(-400px);
  }
  to {   
      transform: translateX(400px);
  }
} */

@keyframes zoom {
  from {
      transform: scale(0)
  }
  to {
      transform: scale(1)
  }
}