.jrwlzsjCont{
	height:7.9rem;
	width: 14rem;
	position: relative;
	float: left;
	top: 2%;
	left: 2%;
}


.jrwlzsj_box{
	position: relative;
	float: left;
	height:7.9rem;
	width: 31.3rem;
	top: 3%;
	overflow: hidden;
}

/*#slider2
{
    width: 52rem;
    height:7.9rem;
	position: absolute;
	top: 0;
}
#slider2 .slide
{
    width: 14 rem;
    z-index: 999;
}
#slider2 .slide video
{
	width: 100%;
}*/

.videoTwo {
    width: 14rem;
    height:7.9rem;
    margin-top: 1.37rem;
    margin-left: 1.16rem;
    background-color: aliceblue; 
    float: left;
}

.jrwlzsjTxt{
	position: relative;
	float: left;
	z-index: 999;
	background-size: 100% 100%;
	height:7.9rem;
    width: 14rem;
    margin-left: 2%;
}


.jrwlzsjCont1{
	height:15.6rem;
	width: 31.3rem;
	position: relative;
	float: left;
	top: 1%;
	left: 1%;
}


.jrwlzsj_box1{
	position: relative;
	float: left;
	height:14.5rem;
	width: 30.3rem;
	top: 1%;
    overflow: hidden;
    margin-top: 0rem;
    margin-bottom: 1rem;
	margin-left: 0.4rem;
    opacity: 1;
}

.slider
{
    width: 93rem;
    height:29.2rem;
	position: absolute;
    top: 0;
    opacity: 1;
}
.slide .slide1
{

    width: 29.2rem;
    z-index: 999;
}
.slide .slide1 video
{
	height:15rem;
	width: 29.2rem;
}

.jrwlzsjTxt1{
	position: relative;
	float: left;
	z-index: 999;
	background-size: 100% 100%;
	height:15rem;
    width: 29.2rem;
    margin-left: 1%;
}

.openVideo{
	position: absolute;
	width:64.5rem;
	height:48.5rem;
	margin-left: -203%;
	margin-top: -55%;
	background: white;
	z-index: 10000;
}

.largeVideoDiv{
	position: relative;
	margin-top: 5%;
}

.largeVideo{
	width:100%;
	height:100%;
}