body {
    width: 100%;
    height: 100%;
    background-color: #061839;
    z-index: 999999
}

.Modal-warp {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: inherit;
    padding: 0px 0px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

}

#clearid {
 position: fixed;
    pointer-events: auto;
    font-size: 1.5rem;
    font-weight: bold;
  z-index: 999;
    cursor: pointer;
    right: 10px;
    top: 8px;
    color: white;

}

.Modal-left {
    flex: 1;


}

.line {
    border-left: 2px solid #31FFFE;
    height: 20px;
    position: relative;
}

.line:after {
    content: "";
    position: absolute;
    border-left: 2px solid #31FFFE;
    height: 8px;
    top: -4px;
    transform: rotate(45deg);

}

.line:before {
    content: "";
    position: absolute;
    border-left: 2px solid #31FFFE;
    height: 8px;
    bottom: -4px;
    transform: rotate(-45deg);

}

.line1 {
    border-left: 2px solid #31FFFE;
    height: 20px;
    position: relative;
}

.line1:after {
    content: "";
    position: absolute;
    border-left: 2px solid #31FFFE;
    height: 8px;
    top: -4px;
    right: 2px;

    transform: rotate(-45deg);

}

.line1:before {
    content: "";
    position: absolute;
    border-left: 2px solid #31FFFE;
    height: 8px;
    bottom: -4px;

    right: 2px;

    transform: rotate(45deg);

}

.Modal-left-item {

}

.Modal-left-item .header {
    margin: 10px 0px;
    margin-top: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.Modal-left-item .header span {
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
    margin: 0px 20px;
}

.work-older {
    display: flex;
    margin-top: 20px;
}

.work-older-item {
    flex: 1;
}

.work-older-item:nth-child(2n) {
    margin: 0px 20px;
}

.work-older-header {
    width: inherit;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 4px 4px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: 微软雅黑;
}

.work-older-header button {
    list-style-type: none;
    border-radius: 4px;
    border: 2px solid #59647A;
    padding: 4px 10px;
    background-color: inherit;
    color: #01DFD2;
    font-size: 16px;
    border:0px;
    outline: none; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); -webkit-focus-ring-color: rgba(0, 0, 0, 0);
    border-top: 2px solid #1DD3DE;
    box-shadow: inset 0px 0px 5px 8px #107E9A;
    margin: 0px 10px;
}

.work-older-list {
    background-color: #091626;
    background: -webkit-linear-gradient(left top, #08292D, #050C0F); /*for safari5.1-6.0*/
    background: -o-linear-gradient(bottom right, #08292D, #050C0F); /*Opera 11.1-12.0*/
    background: -moz-linear-gradient(bottom right, #08292D, #050C0F); /*firefox 3.6-15*/
    background: linear-gradient(to bottom right, #08292D, #050C0F); /*标准语法*/
    border: 2px solid #4275AE;
    box-shadow: inset 0px 0px 5px 5px #1C4669;
}

.work-older-list-ul {
    display: flex;
    text-align: center;

}

.work-older-list-ul li {
    flex: 1;
    margin: 10px;
    color: #00FFF0;
    font-size: 12px;
}

.ul-line {
    flex: 1;
    border-top: 1px solid #116F75;

}

.ul-line li {
    color: white !important;
    font-size: 12px;

}


.Satisfaction-warp {
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: space-between;
    margin-right: 30px;

}

.Satisfaction-warp-item {
    width: 575px;
    height: 298px;

    box-sizing: border-box;
}

.Satisfaction-warp-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-right: 24px;
}

.Satisfaction-warp-item:nth-child(2n) {
    /*margin-left: 20px;*/
}

.Satisfaction-warp-item:nth-child(2n+1) {
    /*margin-right: 20px;*/
}

.Satisfaction-warp-item-header-left {
    display: flex;
}

.banner1 {
    width: 117px;
    height: 25px;
    background-image: url(../../Modal/images/banner.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    line-height: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 12px;
    color: #000000;
}

.banner2 {
    width: 117px;
    height: 25px;
    background-image: url(../../Modal/images/banner2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    font-weight: 500;
    line-height: 25px;
    font-size: 12px;
    letter-spacing: 1px;
}

.Satisfaction-warp-item-echarts {
    width: inherit;
    height: 255px;
    background-image: url(../../Modal/images/12345icon.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;

}


.Modal-right {
    flex: 1;
    /* background-color: yellow; */
}
.FX_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li {
    list-style: none;
}
#dropdown{font-size:16px;z-index: 99999}
#dropdown p{width:80px; height:32px; line-height:32px; padding-left:10px; padding-right:30px;
    border:1px solid #a9c9e2; background:inherit url('V') no-repeat right 4px;
    color: #ffffff; cursor:pointer}
#dropdown ul{width:119px; background-color: #061839;; margin-top:2px; border:2px solid #50657D;
    position:absolute; display:none}
#dropdown ul li{height:24px; line-height:24px; text-indent:10px}
#dropdown ul li a{display:block; height:24px; color: #ffffff; text-decoration:none}
#dropdown ul li a:hover{background:#c6dbfc; color: #ffffff
}

.echarts-info{
    width: 100px;display: inline-block;
    background-image: url(../images/echarts-info-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    line-height: 3rem;
    margin-right: 20px;
    text-align: center;
}

.echarts-bg-box{
    width: 290px;height: 205px;
    background: linear-gradient(#13a1fc, #13a1fc) left top, linear-gradient(#13a1fc, #13a1fc) left top, linear-gradient(#13a1fc, #13a1fc) right top, linear-gradient(#13a1fc, #13a1fc) right top, linear-gradient(#13a1fc, #13a1fc) left bottom, linear-gradient(#13a1fc, #13a1fc) left bottom, linear-gradient(#13a1fc, #13a1fc) right bottom, linear-gradient(#13a1fc, #13a1fc) right bottom;
    background-repeat: no-repeat;
    background-size: 3px 20px, 20px 3px;
    margin: auto 0;
    margin-left: -20px;
    border: solid 1px rgb(35, 80, 121);
}

.ranking-public{
    width: 90px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    line-height: 100px;
    margin: auto;
    margin-bottom: 10px;
}
.ranking-first{
    background-image: url(../images/ranking-red.png);
}
.ranking-second{
    background-image: url(../images/ranking-yellow.png);
}
.ranking-third{
    background-image: url(../images/ranking-cyan.png);
}
.ranking-fourth{
    background-image: url(../images/ranking-blue.png);
}
.ranking-fifth{
    background-image: url(../images/ranking-fifth.png);
}
.ranking-6{
    background-image: url(../images/ranking-6.png);
}
.ranking-7{
    background-image: url(../images/ranking-7.png);
}

.Modal-left-item .footer {
    margin-left: 20px;
    margin-right: 30px;
    flex: 1;
    height: 150px;
    border: 1px solid #13a1fc;
}

.Municipal-level {
    margin: 1.6rem 0;
    display: flex;
    justify-content: space-between;
    position: relative;

}

.Municipal-level div {
    flex: 1;
    display: inline-block;
    display: flex;
    justify-content: left;
    align-items: center;
}

.Municipal-level div img {
    width: 40px;
    height: 40px;
}

.Municipal-level div li {
    margin-left: 10px;
    font-size: 14px;
    color: white;
}

.Municipal-level div li p:nth-child(2) {
    color: #1fe0e9;
}

 .progress{
     width: 120px;
     height: 14px;
     border-radius: 0.1rem;
 }
 /* 表示总长度背景色 */
 .progress::-webkit-progress-bar{     
        background-color: rgb(21, 55, 95);
        border-radius: 0.2rem;
    }
    /* 表示已完成进度背景色 */
    .progress::-webkit-progress-value{
          background: #20d180;
          border-radius: 0.2rem; 
    }

    .progress2{
        width: 120px;
        height: 14px;
        border-radius: 0.1rem;
    }
    /* 表示总长度背景色 */
    .progress2::-webkit-progress-bar{     
           background-color: rgb(21, 55, 95);
           border-radius: 0.2rem;
       }
       /* 表示已完成进度背景色 */
       .progress2::-webkit-progress-value{
             background: #0093ff;
             border-radius: 0.2rem; 
       }
